*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.title {
	font-size: 30px;
}

#container{
	width: 500px;
	height: 800px;
	margin: 0 auto 0 auto;
}

.msgbox{
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 8px;
	background-color: #3b82f6;
 	color: #fff;
	width: 300px;	
}

@media screen and (max-width: 768px) {
	.msgbox{
		margin: 0 0 10px 30%;
	}
}

.notme{
	background-color: #ccc;
}

.notme::after{
	border-left-color: #ccc;
}

#messages{
	height: 600px;
    width: 500px;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
    align-items: center;
    border: 2px solid #eee;
	border-radius: 30px;
	overflow: auto;
}

#messages::-webkit-scrollbar{
	width:10px;
}

#messages::-webkit-scrollbar-thumb{
 	background:#aaa;
	border-radius: 20px;
	transition: background 4s;
}

#messages::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.time{
	font-size:12px;
}

#msgform{
	margin-top: 10px;
	border: 2px solid #eee;
	border-radius: 30px;
	height: 45px;
	display: flex;
	align-content: center;
	overflow: hidden;
}

#msginput{
	width: 85%;
	outline: none;
	border: none;
	padding: 10px;
}

#sendbtn{
	width: 15%;
	border-radius: 30px;
	border: none;
}
